extends base.pug

block style 
    style 
        include ../static/style.css
        include ../static/styleAbout.css
block content
    div.about
        h2 About Us
        p Welcome to our dance academy website! We are a community of passionate dancers who offer a variety of classes for all ages and skill levels. Our experienced instructors provide personalized instruction in a supportive and inclusive environment. From classical ballet to hip hop and contemporary, we have something for everyone. Our studio is equipped with state-of-the-art facilities to ensure that our dancers can perform to their fullest potential. Whether you are a beginner or a seasoned dancer, we invite you to join us and discover the joy of dance. Browse our class schedule, meet our instructors, and sign up for a trial class today!
