doctype html
html
    head
        title Gaurav Dance Academy
    block style 

    block scripts
    nav#navbar
        ul  
            div#logo
                img(src='../static/img/9.png')
                | GDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class info]
            li #[a(href="/contact") Contact us]
    block content
    
    footer#footer 
        | Copyright © 2022 GauravDanceAcademy.com | All rights reserved