extends base.pug

block style 
    style
        include ../static/style.css
block scripts
    script(src='../static/index.js')
block content   
    section#introsection
        div Welcome to Gaurav's Dance Academy
        div.small Eat Sleep Dance Repeat

    section#missionsection
        h2 Our Mission
        div.card 
            h2 Dance Perfection
            div.card-box
                div.card-img
                    img(src='../static/img/6.png')
                div.card-content
                    p Do every move with perfection!
        div.card 
            h2 Dance the way you like
            div.card-box
                div.card-img
                    img(src='../static/img/7.png')
                div.card-content
                    p Dance the way you want and when you want
        div.card 
            h2 Expert Teaching
            div.card-box
                div.card-img
                    img(src='../static/img/8.png')
                div.card-content
                    p Learn the greatest of moves from our expert teachers

    section#sponsorsection
        h2 Our Partners
        div#sponsors
            img(src="../static/img/nike5.png", alt="sponsor image" class="spImage")
            img(src="../static/img/puma.png", alt="sponsor image" class="spImage")
            img(src="../static/img/jbl.png", alt="sponsor image" class="spImage")
            img(src="../static/img/boat.png", alt="sponsor image" class="spImage")
            img(src="../static/img/cc.png", alt="sponsor image" class="spImage")
            img(src="../static/img/rb.png", alt="sponsor image" class="spImage")
